@tailwind base;
@tailwind components;
@tailwind utilities;

.negro {
  fill: black;
  width: 1.83rem;
  height: 1.83rem;
}
.negro:hover {
  fill: white;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

html {
  background-color: rgb(245, 255, 251);
}
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: '';
  background-image: url('/images/c.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}
header {
  overflow-x: hidden;
}
#root {
  white-space: pre-line;
}
@font-face {
  font-family: 'din';
  src: local('din'), url('./../public/fonts/DIN.otf') format('truetype');
  font-weight: regular;
}

@font-face {
  font-family: 'd-din';
  src: local('d-din'), url('./../public/fonts/D-DIN.otf') format('truetype');
}
@font-face {
  font-family: 'kiona';
  src: local('kiona'), url('./../public/fonts/Kiona.ttf') format('truetype');
}
